.container {
    width: 800px;
    height: auto;
    background-color: rgb(53, 180, 219);
    position: relative;
    justify-content: center;
}

.header {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.25;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    width: 70%;
    justify-content: center;
    padding: 0 auto;
}

.header_text {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    padding: auto 0;
    text-align: right;
}